.carousel-container {
    width: 100%;
    display: flex;
    padding: 10px 10px;
    flex-direction: column;
}

.carousel-wrapper {
    display: flex;
    width: 100%;
    position: relative;
    padding-left: 40px;
}

.carousel-content-wrapper {
    padding: 20px 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carousel-button-container {
    width: 100%;
    height: fit-content;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    margin-top: 40px;
}

.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-content {
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.carousel-content > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

.carousel-content.show-1 > * {
    width: 100%;
}

.carousel-content.show-2 > * {
    width: 50%;
}

.carousel-content.show-3 > * {
    width: calc(95% / 3);
}

.carousel-content.show-4 > * {
    width: calc(100% / 4);
}

.left-arrow,
.right-arrow {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 100%;
    border-width: 2px;
    border-color: #bababa;
    cursor: default;
}
